html,body,#root,.app{
  height: 100%;
}

.header {
  background-color: #fff;
  min-height: 64px;
  border-bottom: 1px solid #dbdbdb99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #0d0850;
  padding-left: 16px;
  padding-right: 16px;
}

.logo{
  height: 60px;
  width: 100%;
}

.app{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.app > .main-container{
  display: flex;
  flex-grow: 100;
  width: 100%;
}

.ep-menu{
  overflow-y: scroll;
}

.main-content{
  width: 100%;
}